
b{
    background-color: yellow;
}
.col{
    color:rgb(116, 32, 32);
}
.col1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(116, 32, 32);
}
.ones{
    color: rgb(114, 28, 28);
}
